    * {
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: beige;
    }
    button {
      font-size: 25px;
      padding: 10px;
      border-radius: 12px;
    }
    button.btn {
      height: 120px;
      width: 120px;
      padding: 12px;
      background-color: transparent;
      border: 1.5px solid black;
      border-radius: 20px;
      margin-right: 15px;
    }
    button.btn img {
      width: 95%;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 23px;
    }
    p {
      font-size: 22px;
    }